[submodule "third-party/SearchFilter"]
	path = third-party/SearchFilter
	url = https://github.com/alvin-000/SearchFilter.git
[submodule "third-party/Terminal"]
	path = third-party/Terminal
	url = https://github.com/OnionUI/app-Terminal.git
[submodule "third-party/DinguxCommander"]
	path = third-party/DinguxCommander
	url = https://github.com/OnionUI/app-DinguxCommander
[submodule "third-party/RetroArch-patch"]
	path = third-party/RetroArch-patch
	url = https://github.com/OnionUI/RetroArch-patch
[submodule "third-party/EasyLogoTweak"]
	path = third-party/EasyLogoTweak
	url = https://github.com/alvin-000/Miyoo-Mini-easy-logotweak.git
[submodule "third-party/CpuOverclock"]
	path = third-party/CpuOverclock
	url = https://github.com/alvin-000/Cpu_Overclock_Onion_OS.git
